<section id="home" class="container">
    <article class="content-container">
        <section class="img"></section>
        <section class="content">
            <h1>Máté Balázs</h1>
            <article>
                <app-title title="frontend" />
                <h2>{{jobTitle()}}</h2>
            </article>
        </section>
    </article>
    <article class="down-arrow"><a href="#about-me"><img src="portfolio/down-arrow.png" alt="down arrow"></a></article>
</section>

<section class='circle big'></section>
<section class='circle medium'></section>
<section class='circle small'></section>