<article class="container">
    <aside>
        <section>
            <section class="image"><img class="profile" src="/portfolio/profil.png" alt="profile"></section>
            <p>Személyes információk</p>
        </section>
        <section>
            <ul>
                <li><img class="icon" src="portfolio/phone.png" alt="phone icon">06306099331</li>
                <li><img class="icon" src="portfolio/email.png" alt="phone icon">balazs31mate.webdev&#64;gmail.com</li>
                <li><img class="icon" src="portfolio/gps.png" alt="phone icon">Dózsa Gy. Utca 22.,
                    Lesenceistvánd, 8319, Magyarország</li>
            </ul>
            <ul>
                <li>
                    <p class="data-title">Állampolgárság</p>
                    <p>magyar</p>
                </li>
                <li>
                    <p class="data-title">Jogosítvány</p>
                    <p>B kategória</p>
                </li>
                <li>
                    <p class="data-title">Születési dátum</p>
                    <p>Tapolca, 1991.11.09.</p>
                </li>
            </ul>
            <p>Képességek</p>
        </section>
        <section>
            <ul>
                <li class="skills">
                    <p class="spinner icon" style="--p:90;"></p>
                    <p>HTML</p>
                </li>
                <li class="skills">
                    <p class="spinner icon" style="--p:90;"></p>
                    <p>CSS</p>
                </li>
                <li class="skills">
                    <p class="spinner icon" style="--p:70;"></p>
                    <p>Bootstrap</p>
                </li>
                <li class="skills">
                    <p class="spinner icon" style="--p:70;"></p>
                    <p>JavaScript</p>
                </li>
                <li class="skills">
                    <p class="spinner icon" style="--p:80;"></p>
                    <p>TypeScript</p>
                </li>
                <li class="skills">
                    <p class="spinner icon" style="--p:60;"></p>
                    <p>Angular</p>
                </li>
            </ul>
            <p>Nyelvek</p>
        </section>
        <section class="languages">
            <ul>
                <li class="skills">
                    <p class="spinner icon" style="--p:100;"></p>
                    <p>Magyar</p>
                </li>
                <li class="skills">
                    <p class="spinner icon" style="--p:25;"></p>
                    <p>Angol</p>
                </li>
            </ul>
        </section>
    </aside>
    <section class="main">
        <section class="about-me">
            <h1>Máté Balázs</h1>
            <h2>Junior frontend fejlesztő</h2>
            <p>Junior Frontend Fejlesztő magabiztos HTML5, CSS3, JavaScript és
                TypeScript tudással. Jelenleg az Angular keretrendszerben
                mélyítem a tudásomat. Célom, hogy egy olyan innovatív csapatban
                kamatoztassam és fejlesszem tovább a képességeimet, ahol
                hozzájárulhatok a közös sikerekhez.
            </p>
            <p class="title">Oktatás</p>
        </section>
        <section class="schools">
            <ul>
                <li>
                    <p class="school"><b>8 Általános, Nemess Imre Közös Fenntartású Általános Iskola</b></p>
                    <p class="date">1999.szeptember - 2007.június</p>
                </li>
                <li>
                    <p class="school"><b>Érettségi, Közgazdasági Szakközépiskola, Keszthely</b></p>
                    <p class="date">2007.szeptember - 2011.június</p>
                </li>
                <li>
                    <p class="school"><b>Marketing- és reklámügyintéző, Közgazdasági Szakközépiskola, Keszthely</b></p>
                    <p class="date">2011.szeptember - 2012.június</p>
                </li>
                <li>
                    <p class="school"><b>Junior frontend fejlesztő, Ruander Oktatási Kft.</b></p>
                    <p class="date">2023.szeptember - 2024.október</p>
                </li>
            </ul>
        </section>
    </section>
</article>
<section class="container buttons">
    <a routerLink="" class="button left"><img src="portfolio/left-arrow.png" alt="left arrow" height="20px">
        {{buttonTexts().backButton}}</a>
    <a href="portfolio/CV.pdf" download="Mate Balazs oneletrajz.pdf" class="button">{{buttonTexts().downloadButton}}
    </a>
</section>