<header>
    <section class="header-content container" [class.nav-show]="toggleNav()">
        <nav>
            <ul>

                @for (item of menuItems(); track $index) {
                <li><app-menu-item [menuItem]="item" [isActive]="item.href === activeMenuItemRef()"
                        (itemClicked)="onMenuItemClicked($event)" /></li>
                }@empty {
                <li><a>About me</a></li>
                <li><a>Skills</a></li>
                <li><a>Mini Apps</a></li>
                <li><a>Contact</a></li>
                }
                <li class="flags"><a (click)="onChangeEnglish()"><img src="portfolio/english.png" alt="hungarian flag"
                            height="26px"></a><a (click)="onChangeHungarian()"><img src="portfolio/hungarian.png"
                            alt="hungarian flag" height="19px"></a></li>
            </ul>
        </nav>
        <button (click)="onToggleNav()"><img src="portfolio/hamburger.png" alt=""></button>
    </section>
</header>