@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,600&family=Montserrat:wght@400&display=swap");

$primary-color: #f8f8f8;
$secondary-color: #1a1a1a;
$tertiary-color: #adcde5;
$tertiary-color-hover: #a2c0d8;
$text-color: white;
$secondary-text-color: #1a1a1a;

$primary-text: "Inter", sans-serif;
$secondary-text: "Montserrat", sans-serif;
